{% extends 'model/base.html' %}

{% block title %}Tabela - Detalhe das Vendas{% endblock %}

{% block content %}
<div class="col-11 col-xxl-6 col-sm-8 m-auto text-center">
    <h1>Detalhe das Vendas</h1>
</div>


<div class="col-8 col-xxl-5 col-sm-7 m-auto pt-2 pb-2" style="text-align: right;">
    <form method="get">
        <input type="text" id="search" name="search" class="form-control shadow" placeholder="Buscar...">
    </form>
</div>

<div class="col-11 col-sm-10 col-xxl-8 m-auto pt-4 pb-2 text-center">
    <table class="table table-bordered bg-white shadow">
        <thead class="primary">
            <tr>
                <th scope="col">Código Venda</th>
                <th scope="col">Código do Produto</th>
                <th scope="col">Quantidade do Produto</th>
            </tr>
        </thead>
        <tbody>
            {% for dbs in db %}
            <tr>
                <td>{{dbs.cod_venda}}</td>
                <td>{{dbs.cod_produto}}</td>
                <td>{{dbs.quantidade_produto}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}